Xcursor.size: 16

XTerm*reverseVideo: true

URxvt.perl-ext-common: default,clipboard,selection-to-clipboard,matcher,tabbedex

URxvt.background: #171714
URxvt.foreground: #ebebeb

URxvt.tabbed.new-button:	true
URXvt.tabbed.reopen-on-close: false

URxvt.scrollBar: true
URxvt.scrollstyle: plain
URxvt.saveLines: 65535

URxvt.clipboard.autocopy: false
